extends layout

block content
	.row
		.col-9
			ol.posts
				each datapoint in data
					li.post
						p.dateline
							span.day= new Date(datapoint.date).getDate()
							span.month= new Date(datapoint.date).toLocaleString('en-us', {month: 'long'})
							span.year= new Date(datapoint.date).getFullYear()
						a.title(href="/blog/" + datapoint.slug)= datapoint.title
						p.description= datapoint.desc
						ul.tags
							each val in datapoint.tags
								li= val
		.col-3
			.card
				.card-body(width="300")
					h5.card-title #BumpinHeavy
					.mb-1.text-muted Nov 11 (7:53pm)
					- var spotify = '<iframe src="https://open.spotify.com/embed/track/2Vx8E3K5icPZR7OCklWBXX" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>'
					p.card-text !{spotify}

