extends layout

block content
	div.row
		div.col
			ol.posts
				each datapoint in data
					li.post
						p.dateline
							span.day= new Date(datapoint.date).getDate()
							span.month= new Date(datapoint.date).toLocaleString('en-us', {month: 'long'})
							span.year= new Date(datapoint.date).getFullYear()
						a.title(href="/blog/" + datapoint._id)= datapoint.title
						p.description= datapoint.description
						ul.tags
							each val in datapoint.tags
								li= val

