doctype html
html(lang = 'en')
	head
		title= 'Blog'
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
	body
		div.container
			div.row
				div.col
					h1 /dev/zhughes
					ol.posts
						each datapoint in data
							li.post
								p.dateline
									span.day= new Date(datapoint.date).getDate()
									span.month= new Date(datapoint.date).getMonth()
									span.year= new Date(datapoint.date).getFullYear()
								a.title(href="/blog/" + datapoint.id)= datapoint.title
								p.description= datapoint.description
								ul.tags
									each val in datapoint.tags
										li= val

